  <mat-drawer #sidenav mode="side" >
    <div >
    <mat-form-field appearance="fill">
      <mat-label>Layer data</mat-label>
      <mat-select #layerDataset value="{{objectKeys(mapService.layerGroups)[0]}}">
        <mat-option *ngFor="let group of objectKeys(mapService.layerGroups)" value="{{group}}">{{group}}</mat-option>
      </mat-select>
      <mat-divider></mat-divider>
    </mat-form-field>
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Layer level</mat-label>
      <mat-select (selectionChange)="layerChanged($event.value)">
<!--                  [(value)]="layerArray[objectKeys(layerArray)[0]].group+'_'+layerArray[objectKeys(layerArray)[0]].level">-->
        <ng-container *ngFor="let layer of objectKeys(layerArray)">
          <mat-option *ngIf="layerDataset.value == layerArray[layer].group" [value]="layer">
            {{layerArray[layer].group}}_{{layerArray[layer].level}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
      </div>
    </div>
  </mat-drawer>


