<header>
  <!--
  <div class="title">
    <mat-drawer-content>
      <button mat-raised-button (click)="[sidenav-left].drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
    Area Selector - Alia Space
    class="left-bar"
  </div>-->
  <app-topbar></app-topbar>
</header>
<main>
  <div>
    <app-sidenav-left></app-sidenav-left>
  </div>
  <div class="map-container">
    <app-map [map]="map"></app-map>
  </div>
</main>
<footer>
  <app-scaleline [map]="map"></app-scaleline>
  <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
</footer>
