.mat-toolbar {
  /*position: fixed;*/
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1;
  height: fit-content !important;
  /*min-height: content-box !important;*/
}

/*
.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
*/
