@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #3f51b5;
    --sidebar-color: #FAE6BE;
    --text-color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ol-zoom {
  top: .5em;
  right: .5em;
  left: unset !important;
}

.ol-viewport {
  height: calc(100% - 150px) !important;
}

.mouseposition-control {
  margin-right: 20px;
}

.ol-scale-line {
  transform: translateY(24px);
}
